manifest {
  name            = 'pa-simple-wf'
  author          = 'Pseudo Aeru'
  homePage        = 'https://github.com/YOUR_USERNAME/YOUR_REPO'
  description     = 'Simple Nextflow workflow: SRA -> fastp -> (skesa + seqkit)'
  nextflowVersion = '>=24.10.0'
}

params {
  outdir = 'results'
  input  = null
  sra_ids = null
}

profiles {
  conda {
    conda.enabled = true
    process.executor = 'local'
  }

  test {
    params.input = 'assets/test_samplesheet.csv'
  }
}

process {
  errorStrategy = 'terminate'
  withName:FETCH_SRA {
    cpus = 2
    memory = '4 GB'
  }
  withName:FASTP {
    cpus = 2
    memory = '2 GB'
  }
  withName:SKESA {
    cpus = 2
    memory = '4 GB'
  }
  withName:SEQKIT_STATS {
    cpus = 1
    memory = '1 GB'
  }
}

timeline {
  enabled = true
  file = "${params.outdir}/pipeline_timeline.html"
}

report {
  enabled = true
  file = "${params.outdir}/pipeline_report.html"
}

trace {
  enabled = true
  file = "${params.outdir}/pipeline_trace.txt"
}

dag {
  enabled = true
  file = "${params.outdir}/pipeline_dag.html"
}
